## ðŸ”¹ Ejercicio 2: SQL

Dada la tabla ventas con las siguientes columnas:  
id (INT, clave primaria) 
producto (VARCHAR)
cantidad (INT)
fecha (DATE)
Escribe una consulta SQL que devuelva los 3 productos mÃ¡s vendidos en el Ãºltimo mes.

In [ ]:
SELECT producto, SUM(cantidad) AS total_vendido
FROM ventas
WHERE fecha >= DATE_TRUNC('month', CURRENT_DATE - INTERVAL '1 month')
  AND fecha < DATE_TRUNC('month', CURRENT_DATE)
GROUP BY producto
ORDER BY total_vendido DESC
LIMIT 3;